{%- liquid
  assign sample_label = 'Sample 4" X 4"'
  assign alternate_sample_label = '4" X 4" Sample'
  assign sample_label_downcase = sample_label | downcase
  assign alternate_sample_label_downcase = alternate_sample_label | downcase
  assign sample_variant_id = ''

  for variant in product.variants
    if variant.available
      for option_value in variant.options
        assign option_value_downcase = option_value | downcase
        if option_value_downcase == sample_label_downcase or option_value_downcase == alternate_sample_label_downcase
          assign sample_variant_id = variant.id
          break
        endif
      endfor
    endif

    if sample_variant_id != ''
      break
    endif
  endfor
-%}

{%- if sample_variant_id != '' -%}
  <form class="product-sample-form product-sample-form--card" action="/cart/add" method="post">
    <input class="formVariantId" type="hidden" name="items[0][id]" value="{{ sample_variant_id }}">
    <input class="formQty" type="hidden" name="items[0][quantity]" value="1">
    <div class="note note-success js-added-msg" style="display: none">
      <strong>{{ 'products.product.added' | t }}</strong>
    </div>
    <div class="note note-error js-error-msg" style="display: none">
      <strong>{{ 'cart.general.cart_error' | t }}</strong> {{ 'cart.general.update_qty_error' | t }}
    </div>
    <button
      type="submit"
      class="product-sample-button product-sample-button--card AddtoCart js-ajax-submit"
      name="button"
      value="Sample"
      data-quick-add
      data-tooltip="Add sample"
      aria-label="Add {{ sample_label | escape }} sample for {{ product.title | escape }} to cart"
    >
      <span class="product-sample-button__icon product-sample-button__icon--default">
        {% render 'snip-icons',
          wrapper: '.product-sample-button',
          type: 'vantage-theme',
          icon: 'white-sample',
          classes: '',
          size: '18px',
          fill: 'currentColor',
          hover: 'currentColor'
        %}
      </span>
      <span class="product-sample-button__icon product-sample-button__icon--hover">
        {% render 'snip-icons',
          wrapper: '.product-sample-button',
          type: 'vantage-theme',
          icon: 'black-sample',
          classes: '',
          size: '18px',
          fill: 'currentColor',
          hover: 'currentColor'
        %}
      </span>
      <span class="visually-hidden">Add sample to cart</span>
    </button>
  </form>
{%- endif -%}
